@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "Varahlutir";
}
<link href="~/MyCss/hjolin.css" rel="stylesheet" type="text/css" />
<link href="~/MyCss/frontPage.css" rel="stylesheet" type="text/css" />
<html>
<body>
    <!-- Fyrsta myndin Þetta er flipi á reiðhjólasíðuna-->
    <div class="container" style="display:flex;">
        <div class="voruListarnir">
            <div target="voruListi">
                <div class="dropDownListiVoruContainer">
                    <ul class="unorderdListVoruContainer">
                        <div class="vorurhaus">Varahlutir</div>
                        <li class="voruLinkur">@Html.ActionLink("Vírar,barkar,endar og beygjur", "", "varahlutir/bremsubunadur")</li>
                        <li class="voruLinkur">@Html.ActionLink("Gírskiptar", "", "varahlutir/girskiptingar")</li>
                        <li class="voruLinkur_valinn">@Html.ActionLink("Keðjur og gírhlífar", "", "varahlutir/kedjur_girhlifar")</li>
                        <li class="voruLinkur">@Html.ActionLink("Gjarðir ", "", "varahlutir/gjardir")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="vorurnar">
            @{
                for (int count = 0; count < Model.maxer; count++)
                {
                    <div class="col-md-4" target="vara">
                        <a href="/vorur?@(Model.audkenin[@count])">
                            <div class="voruContainer">
                                <p class="voruFyrirsogn">@Model.nofn[@count]</p>
                                <img src="~/images/@(Model.myndir[@count]).png" width="200" height="200" />
                                <p class="price"> @Model.verdin[@count] kr.</p>
                            </div>
                        </a>
                    </div>
                }

            }
        </div>
    </div>
</body>
</html>
