@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "kertastjakarnir";
}
<head>
    <link href="~/MyCss/kertastjakar.css" rel="stylesheet" type="text/css" />
</head>
<html>
<body>
    <div class="all_content">
        <div class="candels_title_wrapper">
            <h1 class="candels_title">Kertastjakar</h1>
            <img class="candels_title_img" src="~/images/kertastjakar/stal_i_stal.png"/>
        </div>
        <div class="content_container_wrapper">
            <div class="content_container">
                <div class="content_grid_element">
                    <a href="/vorur?@(Model.audkenin[0])">
                        <h3 class="content_grid_title">@Model.nofn[0]</h3>
                        <div class="content_grid_img_wrapper">
                            <img class="content_grid_img" src="~/images/@(Model.myndir[0]).png" />
                        </div>
                        <p class="content_grid_price"> @Model.verdin[0] kr.</p>
                    </a>
                </div>
                <div class="content_grid_element">
                    <a href="/vorur?@(Model.audkenin[1])">
                        <h3 class="content_grid_title">@Model.nofn[1]</h3>
                        <div class="content_grid_img_wrapper">
                            <img class="content_grid_img" src="~/images/@(Model.myndir[1]).png" />
                        </div>
                        <p class="content_grid_price"> @Model.verdin[1] kr.</p>
                    </a>
                </div>
                <div class="content_grid_element">
                    <a href="/vorur?@(Model.audkenin[2])">
                        <h3 class="content_grid_title">@Model.nofn[2]</h3>
                        <div class="content_grid_img_wrapper">
                            <img class="content_grid_img" src="~/images/@(Model.myndir[2]).png" />
                        </div>
                        <p class="content_grid_price"> @Model.verdin[2] kr.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
