@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "krakkarnir";
}
<html>
<body>
    <div class="content_container_wrapper">
        <div class="content_container">
            <div class="content_grid_element">
                <a href="/vorur?@(Model.audkenin[0])">
                    <h3 class="content_grid_title">@Model.nofn[0]</h3>
                    <div class="content_grid_img_wrapper">
                        <img class="content_grid_img" src="~/images/@(Model.myndir[0]).png" />
                    </div>
                    <p class="content_grid_price"> @Model.verdin[0] kr.</p>
                </a>
            </div>
            <div class="content_grid_element">
                <a href="/vorur?@(Model.audkenin[5])">
                    <h3 class="content_grid_title">@Model.nofn[5]</h3>
                    <div class="content_grid_img_wrapper">
                        <img class="content_grid_img" src="~/images/@(Model.myndir[5]).png" />
                    </div>
                    <p class="content_grid_price"> @Model.verdin[5] kr.</p>
                </a>
            </div>
            <div class="content_grid_element">
                <a href="/vorur?@(Model.audkenin[6])">
                    <h3 class="content_grid_title">@Model.nofn[6]</h3>
                    <div class="content_grid_img_wrapper">
                        <img class="content_grid_img" src="~/images/@(Model.myndir[6]).png" />
                    </div>
                    <p class="content_grid_price"> @Model.verdin[6] kr.</p>
                </a>
            </div>
            <div class="content_grid_element">
                <a href="/vorur?@(Model.audkenin[9])">
                    <h3 class="content_grid_title">@Model.nofn[9]</h3>
                    <div class="content_grid_img_wrapper">
                        <img class="content_grid_img" src="~/images/@(Model.myndir[9]).png" />
                    </div>
                    <p class="content_grid_price"> @Model.verdin[9] kr.</p>
                </a>
            </div>

        </div>
    </div>

</body>
</html>
