<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axelsbúð</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<link href="~/MyCss/frontpage.css" rel="stylesheet" type="text/css"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="hausmyndaTextContainer">
        <div class="hausMyndir" id="myndir">
            <div class="AxelsBudTextinn">@Html.ActionLink("Axelsbúð", "", "")</div>
            <img src="~/images/axelsbud1.png" height="150" class="hausMynd" />
            <img src="~/images/axelsbud2.png" height="150" class="hausMynd" />
            <img src="~/images/frontTester.png" height="150" class="hausMynd" />
        </div>
        </div>
        <div class="container" id="myDIV">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropbtn">Reiðhjól</a>
                        <div class="dropdown-content">
                            <div>@Html.ActionLink("barnahjól", "", "barnahjol")</div>
                            <div>@Html.ActionLink("karlmannshjól", "", "karlahjol")</div>
                            <div>@Html.ActionLink("kvennmanshjól", "", "kvennahjol")</div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropbtn">aukahlutir </a>
                        <div class="dropdown-content">
                            <div>@Html.ActionLink("bjöllur", "", "bjollur")</div>
                            <div>@Html.ActionLink("bretti", "", "bretti")</div>
                            <div>@Html.ActionLink("bögglaberar", "", "bogglaberar")</div>
                            <div>@Html.ActionLink("hraðamælar", "", "hradamaelar")</div>
                            <div>@Html.ActionLink("körfur", "", "korfur")</div>
                            <div>@Html.ActionLink("ljós", "", "ljos")</div>
                            <div>@Html.ActionLink("pumpur", "", "pumpur")</div>
                            <div>@Html.ActionLink("standarar", "", "standarar")</div>
                            <div>@Html.ActionLink("stýrisendar", "", "styrisendar")</div>
                            <div>@Html.ActionLink("vatnsflöskur og statíf", "", "vatnsfloskur_statif")</div>
                            <div>@Html.ActionLink("hnakkar", "", "hnakkar")</div>
                            <div>@Html.ActionLink("lásar", "", "lasar")</div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropbtn">varahlutir </a>
                        <div class="dropdown-content">
                            <div>@Html.ActionLink("bremsubúnaður", "", "Home")</div>
                            <div>@Html.ActionLink("gírskiptar", "", "Home")</div>
                            <div>@Html.ActionLink("hnakkar", "", "Home")</div>
                            <div>@Html.ActionLink("keðju og gírhlífar", "", "Home")</div>
                            <div>@Html.ActionLink("gjarðir", "", "Home")</div>
                            <div>@Html.ActionLink("stýrisendar", "", "Home")</div>
                            <div>@Html.ActionLink("vírar og barkar", "", "Home")</div>
                            <div>@Html.ActionLink("ýmislegt", "", "Home")</div>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Krakkarnir", "", "krakkarnir")</li>
                    <li>@Html.ActionLink("Hjólastandar", "", "hjolastandar")</li>
                    <li>@Html.ActionLink("setja hjól í vðgerð", "", "vidgerd")</li>
                    <li>@Html.ActionLink("Kertastjakar", "", "kertastjakar")</li>


                    <li class="dropdown">
                        <a class="dropbtn">um Axelsbúð </a>
                        <div class="dropdown-content">
                            <div>@Html.ActionLink("Sagan um Axelsbúð", "", "umAxelsbud")</div>
                            <div>@Html.ActionLink("Heimildamynd um Axeksbúð", "", "umAxelsbud")</div>
                            
                            
                        </div>
                    </li>






                </ul>
            </div>
        </div>
    </div>
    <br class="spacing" />
    <br class="spacing" />
    <br class="spacing" />
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <div class="row" id="rows">
        <!-- Fyrsta myndin Þetta er flipi á reiðhjólasíðuna-->
        <div class="col-md-4">
            <div class="footercolumn">
                <p><img src="~/images/location-pin.png" height="26" width="26" class="mobile_svg" />Merkigerði 2</p>
                <p><img src="~/images/home.png" height="17" width="17" class="mobile_svg" />300 Akranes</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footercolumn">
                <p><img src="~/images/telephone.png" height="26" width="26" class="mobile_svg" />Sími: 431-1531</p>
                <p><img src="~/images/mobile.png" height="20" width="20" class="mobile_svg" />Farsími: 896-1979</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footercolumn">
                <p><img src="~/images/mail.png" height="17" width="17" class="mobile_svg" />Axelg@simnet.is</p>
            </div>
            <div class="footercolumn">
                <p><a href="https://www.facebook.com/Axelsb%C3%BA%C3%B0-1469800143236849/"><img src="~/images/facebook.png" height="20" width="15" class="mobile_svg" /></a>heimasíða</p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    window.onscroll = function () { myFunction() };
    function myFunction() {
        if (window.scrollY > 1) {
            //var el = document.getElementById('myndir');
            //el.remove(); // Removes the div with the 'div-02' id
            var a = document.getElementById('myndir').style.display = "none";
        } else {
            var a = document.getElementById('myndir').style.display = "";

        }

    }
</script>
