@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "Fullorðisnshjól";
}
<head>
    <link href="~/MyCss/krakkar.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/hjolin.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/frontPage.css" rel="stylesheet" type="text/css" />
</head>
<html>
    <body>
        <div class="content_container_wrapper">
            <div class="content_container">
                <div class="content_grid_element">
                    <a href="/hjol?@(Model.audkenin[0])">
                        <h3 class="content_grid_title">@Model.nofn[0]</h3>
                        <div class="content_grid_img_wrapper">
                            <img class="content_grid_img" src="~/images/@(Model.myndir[0]).png" />
                        </div>
                        <p class="content_grid_price"> @Model.verdin[0] kr.</p>
                    </a>
                </div>
                <div class="content_grid_element">
                    <a href="/hjol?@(Model.audkenin[4])">
                        <h3 class="content_grid_title">@Model.nofn[4]</h3>
                        <div class="content_grid_img_wrapper">
                            <img class="content_grid_img" src="~/images/@(Model.myndir[4]).png" />
                        </div>
                        <p class="content_grid_price"> @Model.verdin[4] kr.</p>
                    </a>
                </div>
                <div class="content_grid_element">
                    <a href="/hjol?@(Model.audkenin[9])">
                        <h3 class="content_grid_title">@Model.nofn[9]</h3>
                        <div class="content_grid_img_wrapper">
                            <img class="content_grid_img" src="~/images/@(Model.myndir[9]).png" />
                        </div>
                        <p class="content_grid_price"> @Model.verdin[9] kr.</p>
                    </a>
                </div>
                <div class="content_grid_element">
                    <a href="/hjol?@(Model.audkenin[12])">
                        <h3 class="content_grid_title">@Model.nofn[12]</h3>
                        <div class="content_grid_img_wrapper">
                            <img class="content_grid_img" src="~/images/@(Model.myndir[12]).png" />
                        </div>
                        <p class="content_grid_price"> @Model.verdin[12] kr.</p>
                    </a>
                </div>
                <div class="content_grid_element">
                    <a href="/hjol?@(Model.audkenin[14])">
                        <h3 class="content_grid_title">@Model.nofn[14]</h3>
                        <div class="content_grid_img_wrapper">
                            <img class="content_grid_img" src="~/images/@(Model.myndir[14]).png" />
                        </div>
                        <p class="content_grid_price"> @Model.verdin[14] kr.</p>
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>
