@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "Fullorðisnshjól";
}
<head>
    <link href="~/MyCss/krakkar.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/hjolin.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/frontPage.css" rel="stylesheet" type="text/css" />
</head>
<html>
    <body>
        <div class="container">
            <div class="col-md-4" target="vara">
                <a href="/hjol?@(Model.audkenin[0])">
                    <div class="voruContainer">
                        <p class="voruFyrirsogn">@Model.nofn[0]</p>
                        <img src="~/images/@(Model.myndir[0]).png" width="200" height="200" />
                        <p class="price"> @Model.verdin[0] kr.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4" target="vara">
                <a href="/hjol?@(Model.audkenin[4])">
                    <div class="voruContainer">
                        <p class="voruFyrirsogn">@Model.nofn[4]</p>
                        <img src="~/images/@(Model.myndir[4]).png" width="200" height="200" />
                        <p class="price"> @Model.verdin[4] kr.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4" target="vara">
                <a href="/hjol?@(Model.audkenin[9])">
                    <div class="voruContainer">
                        <p class="voruFyrirsogn">@Model.nofn[9]</p>
                        <img src="~/images/@(Model.myndir[9]).png" width="200" height="200" />
                        <p class="price"> @Model.verdin[9] kr.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4" target="vara">
                <a href="/hjol?@(Model.audkenin[12])">
                    <div class="voruContainer">
                        <p class="voruFyrirsogn">@Model.nofn[12]</p>
                        <img src="~/images/@(Model.myndir[12]).png" width="200" height="200" />
                        <p class="price"> @Model.verdin[12] kr.</p>
                    </div>
                </a>
            </div>
        </div>

    </body>
</html>
