@model AxelsBud.Models.bjollur
@{
    ViewBag.Title = "lasar";
}
<head>
    <link href="~/MyCss/hjolin.css" rel="stylesheet" type="text/css" />
    <link href="~/MyCss/frontPage.css" rel="stylesheet" type="text/css" />
</head>

<html>
<body>
    <!-- Fyrsta myndin Þetta er flipi á reiðhjólasíðuna-->
    <div class="content_container_wrapper">
        <div class="menu_container">
            <ul class="menu_list">
                <li class="menu_item menu_title">@Html.ActionLink("Aukahlutir", "", "aukahlutir")</li>
                <li class="menu_item">@Html.ActionLink("Bjöllur", "", "aukahlutir/bjollur")</li>
                <li class="menu_item">@Html.ActionLink("Bretti", "", "aukahlutir/bretti")</li>
                <li class="menu_item">@Html.ActionLink("Bögglaberar", "", "aukahlutir/bogglaberar")</li>
                <li class="menu_item">@Html.ActionLink("Hraðamælar", "", "aukahlutir/hradamaelar")</li>
                <li class="menu_item">@Html.ActionLink("Körfur", "", "aukahlutir/korfur")</li>
                <li class="menu_item">@Html.ActionLink("Ljós", "", "aukahlutir/ljos")</li>
                <li class="menu_item">@Html.ActionLink("Pedalar", "", "aukahlutir/pedalar")</li>
                <li class="menu_item">@Html.ActionLink("Pumpur", "", "aukahlutir/pumpur")</li>
                <li class="menu_item">@Html.ActionLink("Standarar", "", "aukahlutir/standarar")</li>
                <li class="menu_item">@Html.ActionLink("Stýrisendar", "", "aukahlutir/styrisendar")</li>
                <li class="menu_item">@Html.ActionLink("Vatnsflöskur og statíf", "", "aukahlutir/vatnsfloskur_statif")</li>
                <li class="menu_item">@Html.ActionLink("Hnakkar", "", "aukahlutir/hnakkar")</li>
                <li class="menu_item menu_item_selected">@Html.ActionLink("Lásar", "", "aukahlutir/lasar")</li>
            </ul>
        </div>
        <div class="content_container with_menu">
            @{
                for (int count = 0; count < Model.maxer; count++)
                {
                    <div class="content_grid_element">
                        <a href="/vorur?@(Model.audkenin[@count])">
                            <h3 class="content_grid_title">@Model.nofn[@count]</h3>
                            <div class="content_grid_img_wrapper">
                                <img class="content_grid_img" src="~/images/@(Model.myndir[@count]).png" />
                            </div>
                            <p class="content_grid_price"> @Model.verdin[@count] kr.</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>