<!DOCTYPE html>
@model AxelsBud.Models.vorur
@{
    ViewBag.Title = "hjolvorur";
}

<html>
<head>
    <link href="~/MyCss/vorur.css" rel="stylesheet" type="text/css" />
    @* test *@
    <link rel="stylesheet" type="text/css" href="themes/easydropdown.css" />
</head>

<body>

    <!-- Fyrsta myndin Þetta er flipi á reiðhjólasíðuna-->
    <div class="all_content">
        <h3 class="product_name">@Model.nafn</h3>
        <div class="dropdown nav_button dropdown_bike">
            <a class="">Undirflokkar</a>
            <div class="dropdown_content">
                @{
                    for (int i = 0; i < Model.extraNames.Length; i++)
                    {
                        if (Model.extraPrices[i] != null)
                        {
                            <a href="/hjol?@Model.extraLinks[i]">
                                <p>@Model.extraNames[i]</p>
                                <b>@Model.extraPrices[i]</b>
                            </a>

                        }
                    }
                }
            </div>
        </div>
        <div class="product_wrapper">
            <div class="product_img_wrapper">
                <img class="product_img" id="myImg" src="~/images/@(Model.mynd).png" alt="@Model.nafn" />
            </div>
            <div class="product_info">

                <h3>Nánari lýsing</h3>
                <ul>
                    @{
                        foreach (var item in Model.lysing)
                        {
                            if (@item != null)
                            {
                                <li>@item</li>
                            }
                        }
                    }
                    <li class="product_price" target="voruverd"> @Model.verd kr.</li>
                </ul>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <span class="test">
        <div id="myModal" class="modal">
            <img class="modal-content" id="img01">
        </div>
    </span>

    <script>
        // Get the modal
        var modal = document.getElementById('myModal');
        document.addEventListener('click', (event) => {
            if (modal.style.display == "none") {
                console.log(modal.style.display)
                modal.style.display = "none";

            }

        });

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('myImg');
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        /*  var span = document.getElementsByClassName("close")[0];

          // When the user clicks on <span> (x), close the modal
          span.onclick = function () {
              modal.style.display = "none";
          }*/
        var spaner = document.getElementsByClassName("test")[0];
        spaner.onclick = function () {
            modal.style.display = "none";
        }
       
        function rerouting(url) {
            console.log("jejeje");
            window.location = url;
        }
    </script>

</body>
</html>